*.DotSettings.user
/*.csproj
/*.sln
/.gradle/
/.vs/
/.vscode/
combined.trigger.lua.txt
new.json
old.json
Frames
replay.json
replay.bytes
MemoryCaptures/
CodeCoverage/
UserSettings/
remote_config_data
.vscode/
GlobalEnvDef.d.tl

*.swo
*.swn
*.swp
*.perfetto

asset_packs_use_symbolic_links.txt
